<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading">O projektu</h2>
                    <h3 class="section-subheading text-muted">Souhrn
                    historie našeho projektu</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>listopad 2014</h4>
                                    <h4 class="subheading">Vznikl
                                    jaksi mimochodem...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Na
                                    facebookovém chatu při plánování
                                    "aspie srazu" padla otázka
                                    'Nezaložíme fórum nebo web?'
                                    První verze byla spuštěna na
                                    freehostingu pod doménou <code>www.aspie.cz.</code></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/adventor_logo2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>prosinec 2014</h4>
                                    <h4 class="subheading">Dali jsme
                                    o sobě vědět</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">O vzniku
                                    webu jsme informali řadu
                                    nezikovek věnujíchc se témetice
                                    PAS. Sdružení
                                    <a href="www.adventor.org">Adventor</a>
                                    nám poskytlo placený hosting pod
                                    adresou asperger.cz.</p>
                                </div>
                            </div>
                        </li>
                        <!--<li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Leden 2015</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4> 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>--!>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>A řada 
                                    <br>plánů před
                                    <br>námi!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
