  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyleft &copy; {{ site.title }} 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>Sponzorováno sdružením <a href="http://www.adventor.org">Adventor</a><img src="img/adventor_logo2.png" alt="Logo sdružení Adventor">
                        </li>
			<li>Použit obrázek z Wikimedia „Fossil hunters (7165850450)“ od Virginia State Parks staff – Fossil huntersUploaded by AlbertHerring. Licencováno pod CC BY 2.0 via Wikimedia Commons - https://commons.wikimedia.org/wiki/File:Fossil_hunters_(7165850450).jpg#/media/File:Fossil_hunters_(7165850450).jpg</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
