<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Naše projekty</h2>
<!--                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>--!>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"><a href="blog.asperger.cz"></a></i>
                    </span>
                    <h4 class="service-heading"><a href="http://asperger.cz/joomla/index.php/clanky/psano-aspergery">Aspie blog</a></h4>
                    <p class="text-muted">Zde převažují texty z pera
                    osob s PAS.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="http://asperger.cz/joomla/index.php/forum">Fórum</a></h4>
                    <p class="text-muted">Tady se může každý vykecat, popovídat si. Je k dispozici i sekce pouze pro aspíky. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Poradna</h4>
                    <p class="text-muted">Poradna se připravuje... Zůstaňte ve spojení!</p>
                </div>
            </div>
        </div>
    </section>
